version: "3.8"

services:
  backend:
    build: ./backend
    container_name: study-tracker-backend
    restart: always
    environment:
      - PORT=5000
      - MONGO_URI=mongodb+srv://kavyauppin:0711@study-tracker.0rt4b59.mongodb.net/?appName=study-tracker
      - JWT_SECRET=studytrackersecret123
      - NODE_ENV=production
    networks:
      - study-network
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: study-tracker-frontend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - study-network

  mongo:
    image: mongo:latest
    container_name: study-tracker-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - study-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - study-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - study-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - study-network

networks:
  study-network:
    driver: bridge

volumes:
  mongo-data:
